.small-preview {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.spot-imgs-prview {

    height: 461px;
    width: 550px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.spot-owner {
    /* margin-top: 10px; */
    border-bottom: 1px solid rgb(224, 221, 221);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;

    /* margin-top: -80px; */
}

.singlespot-details {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10vw;
    padding-top: 10vh;
    margin-right: 5vw;
    gap: 55px;

    width: 85vw;
    min-height: 100vh;


}

.spot-info-single {
    /* background-color: azure; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -10px;

}

.numReviews {
    color: rgb(159, 165, 163);
    /* font-weight: 600; */

}

/* .singlespot-details {
    margin-top: -45px;
} */


.s-number {
    font-size: 20px;
    font-weight: 600;
}

.review-side-div {
    margin-left: 30px;
}

.price-side-div {
    margin-left: 10px;
}

.spot-imgs-small img {
    width: 290px;
    height: 225px
}

.spot-imgs-small {

    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 610px;
    /* margin-left: 565px; */

    /* margin-top: -465px; */
}

.small-img2 {
    border-top-right-radius: 15px;
    margin-left: -10px;
}

.small-img4 {
    border-bottom-right-radius: 15px;
    margin-left: -10px;
}

.host-div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.host-div>img {
    width: 25px;
    height: 30px;
}

.host-title {
    font-weight: 600;

    margin-left: 40px;
    margin-top: -26px;
}

.host-info {
    color: rgb(159, 165, 163);
    margin-left: 40px;
    margin-top: -15px;
}


.host-info1 {
    color: rgb(159, 165, 163);
    margin-left: 40px;
}

.host-div1 {
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(224, 221, 221);

    width: 49vw;
}

.host-div3>img {

    width: 25px;
    height: 30px;

}

.host-div3 {

    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-top: -20px;
}

.aircover>img {
    width: 150px;
    height: 50px;

}

.aircover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(224, 221, 221);
    margin-top: 10px;
    width: 49vw;
    margin-bottom: 15px;
}

.img-cover {

    margin-left: -15px;
}

.cover-info {
    margin-bottom: 15px;
}

.spot-description {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(224, 221, 221);
    margin-bottom: 10px;
    width: 49vw;
    height: fit-content;
}

.spot-description1 {
    margin-top: -5px;
}

.reviews {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */


}

.spot-imgs-prview:hover {

    /* cursor: pointer; */
    filter: brightness(85%);
}

.samll-img1:hover {
    filter: brightness(85%);
    /* cursor: pointer; */
}

.small-img2:hover {
    filter: brightness(85%);
    /* cursor: pointer; */
}

.small-img3:hover {
    filter: brightness(85%);
    /* cursor: pointer; */
}

.small-img4:hover {
    filter: brightness(90%);
    /* cursor: pointer; */
}

.spot-one-map {
    margin-bottom: 40px;
}

.single-spot-middle {
    /* position: relative; */

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 620px;
    height: 100%;


    /* height: fit-content; */


    /* align-items: flex-start; */
    /* justify-content: flex-start; */



}

.spot-middle-left {

    width: 64%;
    height: fit-content;

    /* margin-top: 50vh; */
}

.reviews {

    margin-top: 10px;
}

.reviews .review-div1 {
    border: none;
    width: 100px;
    height: 35px;
    background-color: rgb(255, 56, 92);
    color: white;
    border-radius: 8px;
    font-weight: 600;

    /* margin-left:15%; */
    margin-top: 60px;
}

.single-spot-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;

}

.spot-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;


}

@media only screen and (min-width: 1490px) {
    .spot-imgs-prview {
        width: 660px;
        height: 471px;

    }

    .spot-imgs-small {
        width: 790px;
        margin-left: 20px;
        grid-gap: 15px;

    }

    .spot-imgs-small img {
        width: 350px;

    }

    .small-img2 {

        margin-left: -30px;
    }

    .small-img4 {

        margin-left: -30px;
    }

}