.user-spots {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;

    /* margin-right: 15px; */
    font-size: 13px;
    font-weight: 600;
    /* font-family:  monospace; */
    /* margin-top: -5px; */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-bottom: 20px;

}

.user-spots-page {

    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    /* align-items: center; */
    margin-bottom: 70px;
    margin-top: 60px;
    max-width: 1440px;
    /* min-width: 100; */
    overflow: hidden;
    /* margin-right: 15px; */
    min-height: calc(100vh - 80px);
    font-size: 13px;
    font-weight: 600;
    padding-left: 2vw;
    padding-right: 1vw;

}

.title-user {
    position: relative;
    /* color: aqua; */
    /* margin-left: 50px; */
    font-family: Montserrat;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 1.5vw;



    /* color: rgb(255, 56, 92); */
    /* font-weight: 600; */
}

.spot-card1 {
    margin-top: 10px;
    /* background-color: aqua; */
}

.edit-div {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.delete-button {
    margin-top: 20px;
    border: none;
    width: 45%;
    height: 35px;
    background-color: rgb(255, 56, 92);
    color: white;
    border-radius: 8px;
    font-weight: 600;
    /* m argin-right: 0px; */
}

.updateSpot-button {
    margin-top: 20px;
    border: none;
    width: 35%;
    height: 35px;
    background-color: rgb(255, 56, 92);
    color: white;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 120px;
}

.user-none-spots {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: darkgray;
}

.spot-card-b {
    /* background-color: red; */
    border: rgba(235, 233, 233, 0.5) solid 1px;
    box-shadow: 0px 0px 10px rgb(148, 148, 148);
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 10px;
    width: 283px;
    height: 350px;

}

.spot-image-div .spot-image {
    width: 280px;
    height: 200px;
}

.spot-image :hover {
    box-shadow: 0px 0px 5px rgba(148, 148, 148, 0.5);
}

.delete-button:hover {
    filter: brightness(95%);
}

.updateSpot-button:hover {
    filter: brightness(95%);
}

#user-spot-r {
    margin-left: 260px;
}

@media only screen and (min-width: 1490px) {
    .user-spots {

        font-size: 13px;
        font-weight: 600;

        display: grid;

        grid-template-columns: repeat(5, minmax(280px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        margin-bottom: 20px;

        padding-left: 1vw;

    }

    .user-spots-page {

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;

        margin-bottom: 70px;
        margin-top: 60px;
        min-width: 100vw;

        margin-left: -2vw;
        min-height: calc(100vh - 80px);
        font-size: 13px;
        font-weight: 600;


    }
}