.review-modal {
    border-radius: 20px;
    width: 400;
    height: 350;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors {
    color: red;
}

.review-text-input {
    align-self: center;
    width: 350;
    height: 150;
    background-color: rgb(229, 237, 240)
}

.review-stars {
    padding: 15;
    font-size: 20;
}


#disabled-submit-review-button {
    width: 350;
    height: 50;
    box-shadow: 3px 3px gray;
}

#enabled-submit-review-button {
    width: 350;
    height: 50;
    color: white;
    background-color: #ff385c;
    box-shadow: 3px 3px black;
}