.delete-modal {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.h4 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}


#delete-review-yes {
    background-color: #FF5A5F;
    color: white;
    width: 350px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 3px 3px black;
}

#delete-review-no {
    background-color: rgb(74, 72, 72);
    color: white;
    width: 350px;
    height: 50px;
    box-shadow: 3px 3px black;
}