.spot-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 500px;
    font-size: 15px;
}

.spot-form-div {
    border-bottom: 1px black solid;
    padding-bottom: 20px;
    width: 100%
}

.location-blurb {
    font-size: 14px;
}

.form-inputs {
    width: 100%;
}

/* .country-input {
    width: 100%;
}

.street-input {
    width: 100%;
} */

.spot-form-City-State {
    display: flex;
    justify-content: space-between;
}

.spot-form-City {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 65%;
}

.form-comma {
    align-self: flex-end;
}

/* .city-input {
    width: 290px;
} */

.spot-form-State {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    justify-self: flex-end;
    width: 30%;
}

.state-input {
    /* width: 200; */
    justify-self: flex-end;
}

.spot-form-lat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 47.5%;
}

.spot-form-lng {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-end;
    justify-content: space-between;
    width: 47.5%;
}

.spot-form-lat-lng {
    display: flex;
    justify-content: space-between;
}


/* .lat-input {
    width: 245;
}

.lng-input {
    width: 245;
} */

.form-textarea {
    width: 100%;
    height: 150px;
}

.name-input {
    width: 100%;
}

.price-input-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
}

.price-input {
    width: 100%;
    margin-left: 10px;
}

.form-photos {
    display: flex;
    flex-direction: column;
}

.form-images {
    margin: 10px 0px;
}

#create-form-submit-button {
    margin-top: 30px;
    width: 130px;
    height: 40px;
    align-self: center;
    background-color: #FF5A5F;
    color: white;
    box-shadow: 3px 3px black;
    border: 2px black solid;
}

.errors-below {
    padding-top: 5px;
    align-self: flex-start;
}

.spot-form-div {
    display: flex;
    flex-direction: column;
}

.errors-photos {
    align-self: flex-start;
}