/* TODO Add site wide styles */

* {
    background-color: white;
    margin: auto;
    box-sizing: border-box;
    /* padding: 0; */
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    max-width: 1024px;
}