nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 1.5px solid lightgray;
    border-bottom: 1.5px solid lightgray;
    margin-bottom: 20px;
    max-height: 80px;
}

.home {
    max-width: 150px;
    padding: 10px;
    max-height: 80px;
}

.nav-right {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.host {
    text-decoration: none;
    color: inherit;
    height: 40px;
    padding: .5rem;
    border-radius: 1rem;
}

.host:hover {
    background-color: rgb(244, 242, 242);
}